.weatherChart {
  height: 40vh;
  position: relative;
  overflow-y: hidden;
  height: 40%;
  width: 100%;

  .noteText {
    font-size: 20px;
    color: var(--orange);
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 1;
    .tide-text {
      color: var(--primary);
    }
    .dot {
      color: var(--black);
    }
    .date {
      color: var(--black);
      text-align: center;
      margin-top: 5px;
    }
  }
}
