.weatherChart {
  height: 40vh;
  position: relative;
  overflow-y: hidden;
  height: 40%;
  width: 100%;

  .noteText {
    font-size: 20px;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 1;
  
  }
}
