@import "~bootstrap/scss/bootstrap";
:root {
  --primary: #274983;
  --stellblue: #63B8FF;
  --primary-light: rgb(51, 103, 214);
  --orange: #fd7e14;
  --yellow: #ffc107;
  --white: #fff;
  --gray-dark: #343a40;
  --primary-light: #274983d9;
  --success: #32a848;
  --dark: #343a40;
  --muted: #eaeaea;
  --gray-white: #f2f2f2;
  --lightcyan: #b4d8de;
  --blue-sky: rgba(27, 61, 136, 0.91) 0%;
  --blue-light:rgba(37, 134, 171, 0.94) 100%;
  --blue-stable: rgba(28, 135, 187, 0.57) 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.App {
  height: 100vh;
}
